{% extends '_layouts/base.html.twig' %}

{% block title %}ProprioPub - About{% endblock %}

{% block body %}
    <main id="main">
        {{ include('about/_partials/_intro_single.html.twig') }}    
        {{ include('about/_partials/_about_section.html.twig') }}
    </main>
{% endblock %}