<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 position-relative">
                <div class="about-img-box">
                    <img src="{{ asset('assets/img/slide-about-1.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title text-light">
                        {% trans %}A PROPOS{% endtrans %}
                        <span></span>
                        <br>
                        {% trans %}DU SITE{% endtrans %}
                    </h3>
                    <p class="text-light">
                        {% trans %}Liberté Immobilière Pour Tous{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="col-md-12 section-t8 position-relative">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img src="{{ asset('assets/img/about-2.jpg') }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 d-none d-lg-block position-relative">
                        <div class="title-vertical d-flex justify-content-start">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">
                                {% trans %}Objectif {% endtrans %}
                                <span class="color-d">
                                {% trans %}clé: Votre Réussite.{% endtrans %}
                                </span>
                            </h3>
                        </div>
                        <p class="color-text-a text-justify text-dark">
                        {% trans %}
                            ProprioPub est spécialement conçue pour répondre aux besoins des particuliers souhaitant publier leurs annonces immobilières avec simplicité, efficacité et succès. Grâce à notre interface conviviale et intuitive, vous disposez de tous les outils nécessaires pour maximiser la visibilité de vos biens tout en simplifiant la gestion de vos annonces. Notre objectif est de vous offrir une expérience de publication fluide et optimale, vous permettant ainsi de promouvoir vos propriétés sur le marché immobilier de manière professionnelle et réussie.
                        {% endtrans %}

                        </p>
                        <p class="color-text-a text-justify text-dark">
                            {% trans %}Qu'il s'agisse de vendre, de louer ou de mettre en avant vos biens immobiliers, notre site est là pour vous accompagner à chaque étape, vous aidant à atteindre vos objectifs en matière d'immobilier. Avec notre soutien, vous pouvez mettre en valeur vos biens de manière optimale, toucher un public plus large et maximiser vos opportunités sur le marché immobilier en constante évolution.{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
