<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{% trans %}Contactez-nous{% endtrans %}</h1>
              <p class="color-text-a">
                {% trans %}Pour nous contacter et bénéficier de notre expertise en immobilier, nous vous encourageons à remplir le formulaire ci-dessous. Notre équipe dévouée est prête à répondre à toutes vos questions, à vous accompagner dans la réalisation de vos projets immobiliers et à vous offrir un service de qualité inégalée. Votre réussite est notre priorité, et nous sommes impatients de vous aider à atteindre vos objectifs immobiliers.{% endtrans %}
              </p>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">{% trans %}Accueil{% endtrans %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {% trans %}Contact{% endtrans %}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>