{% extends 'publier/base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Confirmation</h1>
        <p>Votre propriété a été ajoutée avec succès.</p>
        <p>Merci pour votre soumission!</p>
    </div>
{% endblock %}
